:root {
    --blackgreen: #01140c;
    --darkergreen: #072E1F;
    --darkgreen: #08442E;
    --lightgreen: #c0d8c0;
    --mintgreen: #8db98d;
    --mediumgreen: #7DA27D;
    --mediumdarkergreen: #638463;
    --offwhite: #95a38f;
}

html {
    height: 100%;
}

body {
    transition: background-color 0.5s, color 0.5s;
    height: 100%;
    overflow: hidden;
    background-color: var(--lightgreen);
    color: var(--darkgreen);
    background-image: url('images/tree-background-edit.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    background-blend-mode: soft-light;
    user-select: none;
}

    body.dark-mode {
        background-color: var(--darkgreen);
        color: var(--offwhite);
        background-blend-mode: multiply;
    }

.content-home {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-content: flex-end;
    color: var(--mediumgreen2);
}

.titleBox {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: var(--mintgreen);
    height: 50vh;
    width: 35vw;
    margin-bottom: 10%;
    margin-top: 10%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
    border-radius: 24px;
}

    .titleBox.dark-mode {
        background-color: var(--darkergreen);
        color: var(--offwhite);
    }

    .titleBox:hover {
        cursor: pointer;
        transform: rotate(-1deg);
        transition: ease 0.3s;
    }

#front-content, #back-content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#back-content {
    display: none;
}

.icon-links {
    flex-direction: row;
    height: 20px;
}

.icon-btn {
    margin: 20px;
}

    .icon-btn img {
        width: 40px;
    }

        .icon-btn img:hover {
            cursor: pointer;
            animation-name: wobble;
            animation-duration: 0.6s;
            animation-timing-function: ease;
        }

@keyframes wobble {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(15deg);
    }
}

.flip-in-ver-right {
    -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flip-in-ver-left {
    -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.profile-image {
    width: 40%;
}

.name {
    margin-bottom: 1px;
    padding: 0 10px 10px;
    border-bottom: solid;
}

.btn {
    float: right;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: var(--mediumgreen);
    border-radius: 24px;
    margin-right: 10px;
}

    .btn:hover {
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
        cursor: pointer;
        background-color: var(--mediumdarkergreen);
    }

    .btn:active {
        transform: translateY(4px);
    }

body.dark-mode .btn {
    background-color: var(--blackgreen);
    color: var(--offwhite);
}

footer {
    background-color: var(--mintgreen);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    footer.dark-mode {
        background-color: var(--darkergreen);
    }

/* ----------------------------------------------
 * Generated by Animista on 2025-3-18 12:55:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-left {
    0% {
        -webkit-transform: rotateY(80deg);
        transform: rotateY(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes flip-in-ver-left {
    0% {
        -webkit-transform: rotateY(80deg);
        transform: rotateY(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2025-3-18 13:9:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}
